/BBDD
/strimlit/.idea
/strimlit/.idea
/strimlit/.idea
strimlit/1_intro.py
strimlit/4_marco.py
strimlit/5_estadisticas.py
strimlit/1_intro.py
strimlit/4_marco.py
strimlit/5_estadisticas.py
strimlit/__pycache__/utils.cpython-313.pyc
strimlit/.idea/pages/5_Estadisticas Descritivas.py
strimlit/.idea/pages/4_Marco Teorico.py
/strimlit/__pycache__
strimlit/5_estadisticas.py
strimlit/4_marco.py
strimlit/1_intro.py
strimlit/.idea/pages/5_Estadisticas Descritivas.py
strimlit/.idea/pages/4_Marco Teorico.py
strimlit/.idea/pages/1_Introducción.py
/BBDD
/BBDD
strimlit/.idea/pages/1_Introducción.py
